body {
    margin-left: 20px;
}

.chat {
    background-color: aqua;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: yellow;
    padding: 5px 15px;
    border-radius: 16px;

}